body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

#game {
  display: flex;
  justify-content: center;
  gap: 40px;
}

#board,
#pieces {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #222;
  border: 2px dashed #666;
}

.slot {
  border: 1px solid #333;
}

.piece {
  width: 100px;
  height: 100px;
  background-image: url("./puzzle.jpg?v=10");
  background-size: 500px 500px;
  cursor: grab;
}


