body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

#game {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

#board, #pieces {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 2px dashed #999;
}

.slot {
  border: 1px solid #ccc;
}

.piece {
  background-image: url("./puzzle.jpg?v=3");
  background-size: 500px 500px;
  cursor: grab;
}

